body {
    /* background-image: url("bbbg.png"); */
    background: linear-gradient(gray, pink, gray);
    background-size: cover;
    /* background-position: center -70px; */
}

h1 {
    text-align: center;
    color: rgb(255, 170, 7);
}

h2 {
    font-size: x-large;
    text-align: center;
    color: white;

}

.break {
    border: 1px dotted black;
}

/* users table */
.user-table, .orders-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }

.user-table-header, .orders-table-header{
    display: table-row;
    font-weight: bold;
    background-color: lightgray;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
  }

.user-table-header > p, .orders-table-header > p {
    display: table-cell;
    padding: 8px;
    border: 1px solid black; /*header border*/
  }

.user-table-row, .order-table-row {
    display: table-row;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
    background-color: white;
  }

.user-table-row > p, .order-table-row > p {
    display: table-cell;
    padding: 8px;
    border: 1px solid black; /*data border*/
  }

.admin-row {
    background-color: rgb(251, 213, 213);
  }

/* orders table */
  
.bold-date {
    font-weight: bold;
}

.rest-date {
    opacity: 0;
}

.even {
    background-color: rgb(232, 231, 231);
}
    
.odd {
    background-color: white;
}
    
/* .date-row {
    background-color: #ddd;
    font-weight: bold;
} */




  /* add product */
.active-select {
    color: white;
    font-size: 20px;
}





  /* deactivate product */
.product-active-indicator {
  color: green;
}

.product-inactive-indicator {
  color: red;
}




  /* reactivate product */