h1 {
    text-align: center;
}

h2 {
    font-size: x-large;
    text-align: center;
}


/* users table */
.user-table, .orders-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }

  .user-table-header, .orders-table-header{
    display: table-row;
    font-weight: bold;
    background-color: lightgray;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
  }

  .user-table-header > p, .orders-table-header > p {
    display: table-cell;
    padding: 8px;
  }

  .user-table-row {
    display: table-row;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
  }

  .user-table-row > p {
    display: table-cell;
    padding: 8px;
  }

  .admin-row {
    background-color: rgb(251, 213, 213);
  }

  /* orders table */






  /* add product */






  /* deactivate product */






  /* reactivate product */