.shoppingPage--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noitems--cart, .shopping--cart {
  padding: 1rem;
}

.cartItem--container {
  display: flex;
  justify-content: space-around;
  box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2), 
    0 6px 30px 0 rgba(118, 118, 118, 0.2);
  margin: 1rem;
  width: 60rem;
  height:10rem;
  background-color: rgb(254, 254, 254);
  padding-top: 1rem;
  border-radius: 8px;
  box-shadow: 
  0 5px 5px 0 rgba(0, 0, 0, 0.2), 
  0 6px 30px 0 rgba(118, 118, 118, 0.2);
}

.image {
  min-height: 8rem;
  min-width: 7rem;
  max-width: 7rem;
  max-height: 8rem;
  margin:5px;
  box-shadow: 4px 2px 3px rgb(0, 0, 0);
  border-radius: 5px;
}

.checkout--btn{
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  margin-left: auto;
  cursor: pointer;
}

.checkout--btn:hover {
  background-color: rgb(189, 250, 189);
}

.delete--btn {
  height: 2rem;
  width: 8rem;
  margin-top: 4rem;
  cursor: pointer;
}

.delete--btn:hover {
  background-color: red;
}

div .product--title {
  width: 11rem;
  padding-top: 1.5rem;
}

div .price--title {
  padding-top: 1.5rem;
}