.shoppingPage--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItem--container {
  display: flex;
  justify-content: space-around;
  box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2), 
    0 6px 30px 0 rgba(118, 118, 118, 0.2);
  margin: 1rem;
  width: 65rem;
  height:10rem;
  background-color: rgb(254, 254, 254);
}

.image {
  min-height: 8rem;
  min-width: 6rem;
  max-width: 6rem;
  max-height: 8rem;
  margin:5px
}

.checkout--btn{
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  margin-left: auto;
  cursor: pointer;
}

.checkout--btn:hover {
  background-color: rgb(189, 250, 189);
}

.delete--btn {
  height: 2rem;
  width: 8rem;
  margin-top: 4rem;
  cursor: pointer;
}

.delete--btn:hover {
  background-color: red;
}