@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Climate+Crisis&family=Inter&family=Sigmar&display=swap');

.home--container {
    display: flex;
    flex-direction: row;
}

.anchor--container {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
   gap: 5rem;
   
}
.allProducts--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex:5;
    margin-top: 2rem;
    text-align: center;
}

@media (max-width: 600px) {

    .home--container {
        display: flex;
        flex-direction: column;
    }

    .allProducts--container {
        flex-direction: column;
        align-items: center;
    }
  }


.product--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem;
    gap: 5px;
    width: 20rem;
    margin-left: 5rem;
    box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2), 
    0 6px 30px 0 rgba(118, 118, 118, 0.2);
    border-radius: 3%;
}

.product--image {
    min-width: 12rem;
    min-height: 15rem;
    max-width: 12rem;
    max-height: 15rem;
    box-shadow: 4px 2px 3px rgb(0, 0, 0);
}

.movie--title{
    font-size: 25px;
    font-weight: bolder;
}

.prices{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.was--price {
    color: red;
    text-decoration: line-through;
}

.now--price {
    color: green;
    font-weight: bold;
    font-size: larger;
}

.addToCart--button{
    height: 3rem;
    margin: 1rem;
    width: 10rem;
    cursor: pointer;
}

.addToCart--button:hover {
    background-color: rgb(103, 239, 103);
}

.home--title {
    font-family: 'Sigmar', sans-serif;
    color: rgb(254, 169, 0);
    text-shadow: 4px 2px 3px rgb(2, 137, 220);
    text-align: center;
    margin: auto;
    font-size: 60px;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .home--title {
      font-size: 30px;
    }
  }

  .searchbar--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    
  }
  
  .searchbar {
    flex: 1; 
    max-width: 40rem; 
    height: 3.1rem; 
    font-size: 24px;
    border: 2px solid rgb(15, 64, 169);
  }

  .searchbtn {
    width: 5rem;
    height: 3.5rem; 
    font-size: 30px;
    background-color: rgb(254, 169, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(15, 64, 169);
    border-left: none;
    cursor: pointer;
  }

  .searchbtn:hover {
    background-color: rgb(255, 195, 75);
    font-size: 35px;
  }

