
.home--container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .aside--container {
       display: none;
    }
}

.aside--container {
    flex: 1;
    background-color: rgb(164, 206, 222);
}

.anchor--container {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
   gap: 5rem;
}
.allProducts--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex:5;
}

.product--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(164, 206, 222);
    margin: 2rem;
    gap: 5px;
    width: 20rem;
    margin-left: 5rem;
    box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2), 
    0 6px 30px 0 rgba(118, 118, 118, 0.2);
}

.home--title {
    text-align: center;
    margin: auto;
    font-size: 60px;
}
.product--image {
    min-width: 15rem;
    min-height: 15rem;
    max-width: 15rem;
    max-height: 15rem;
}

.movie--title{
    font-size: 25px;
    font-weight: bolder;
}

.prices{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.was--price {
    color: red;
    text-decoration: line-through;
}

.now--price {
    color: green;
    font-weight: bold;
    font-size: larger;
}

.addToCart--button{
    height: 3rem;
    margin: 1rem;
    width: 10rem;
    cursor: pointer;
}

.addToCart--button:hover {
    background-color: rgb(103, 239, 103);
}

