.searchbar--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}

.searchbar {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  justify-content: center;
  border: 2px solid rgb(15, 64, 169);
  height: 50px;
}

.searchbar[type="text"] {
  font-size: 28px;
}

.searchbar::placeholder {
  font-size: 28px;
  color: rgba(2, 35, 201, 0.532);
}

.searchbtn {
  min-width: 4rem;
  height: 70px;
  font-size: 30px;
  background-color: rgb(254, 169, 0);
  border-left: none;
  cursor: pointer;
}

.allbtn{
  min-width: 4rem;
  height: 70px;
  font-size: 50px;
  color: white;
  line-height: 50px;
  background-color: rgb(15, 64, 169);
  border-left: none;
  cursor: pointer;
}

.allbtn:hover {
  min-width: 4rem;
  height: 70px;
  font-size: 60px;
  line-height: 50px;
  color: rgb(255, 195, 75);
  background-color: rgb(84, 119, 196);
  border-left: none;
  cursor: pointer;
}

.searchbtn:hover {
  background-color: rgb(255, 195, 75);
  font-size: 35px;
}
